@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
.App {
  text-align: center;
}

body{
  overflow: hidden;
}

.centered{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.container{
  background-color: rgba(128, 128, 128, 0.193);
  border-radius: 12px;
  display: block;
  width: 500px;
  height: 542.4px;
  padding: 18px;
  margin-top: auto;
  margin-bottom: auto;
}

#Label{
  margin-bottom: 20px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  text-decoration: underline;
  text-underline-position: under;
}

#Label:hover{
  text-decoration: none;
  cursor: pointer;
}

header{
  z-index: 9;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  color:#f0f9ff;
  background-color:#282d32;
  padding-top: 7px;
  padding-bottom: 7px;
  font-weight: bold;
  text-align: left;
  padding-left: 13px;
}

footer{
  z-index: 9;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  color:#f0f9ff;
  background-color:#282d32;
  padding-top: 7px;
  padding-bottom: 7px;
}

canvas{
  width: 100px;
  height: 100px;
}

div.outside{
  display: flex;
  height: 85%;
  flex-direction: column;
  align-self: center;
  align-items: stretch;
  padding-top: 23vh;
  font-size: 2vw;
  font-family: 'Montserrat', sans-serif;
}

div.outside #status{
  display: flex;
  justify-content: space-between;
}

div.outside .left{
  text-align: left;
}

div.outside .right{
  font-size: 1.8vw;
  text-align: right;
  display: flex;
  align-self: flex-end;
}

#stat{
  margin-left: 10vw;
}

#stt{
  margin-right: 10vw;
}

@media only screen and (max-width: 1400px){
  .container{
    width: 250px;
    height: 275px;
  }

  .container #Label{
    font-size: 15px;
    margin-bottom: 10px;
  }
  
  .centered{
    height: 640px;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
  }

  div.outside{
    padding-top: 10vh;
    font-size: 17px;
  }

  div.outside .right{
    font-size: 15px;
  }

  #stat{
    margin: auto;
  }

  #stt{
    margin: auto;
  }
}