@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
.App {
  text-align: center;
}

#container{
  background-color: rgba(128, 128, 128, 0.193);
  border-radius: 12px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 500px;
  height: fit-content;
  padding: 18px;
  margin: auto;
}

#chartLabel{
  margin-bottom: 20px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  text-decoration: underline;
  text-underline-position: under;
}

#chartLabel:hover{
  text-decoration: none;
  cursor: pointer;
}

header{
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  color:#f0f9ff;
  background-color:#282d32;
  padding-top: 7px;
  padding-bottom: 7px;
  font-weight: bold;
  text-align: left;
  padding-left: 13px;
}

footer{
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  color:#f0f9ff;
  background-color:#282d32;
  padding-top: 7px;
  padding-bottom: 7px;
}